.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: left;
    position: relative;
    transform: scale(1);
    transition: transform 0.4s;
  }
  
  .modal-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .modal-enter-active {
    opacity: 1;
    transform: scale(1);
  }
  
  .modal-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .modal-exit-active {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  #event-img{
    width:80%;
    height:40%;
    animation: fadeInUp 0.6s ease forwards;
    opacity: 0; /* Start hidden */
  }

  