#container{
    margin-top:1%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.event-list {
    width:80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    color:#F5F5F7;
  }
  
  .event-card {
    background-color:#705C53;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .event-card:hover {
    transform: scale(1.05);
  }

  @keyframes pulseBorder {
    0%, 100% {
      box-shadow: 0 0 5px #F5F5F7;
    }
    50% {
      box-shadow: 0 0 15px #F5F5F7;
    }
  }
  
  #event-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    animation: pulseBorder 1s ease-in-out infinite;
  }